<h1>Selected Food</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="left-container">
        <div class="panel panel-primary">
            <h3 class="panel-heading">Name: <%= @food.dish %></h3>
            <div class="panel-body">
                <h4>ingredient: <%= @food.ingredient %></h4>
                <h4>Spices: <%= @food.spice %></h4>
                <h5 style="font-weight: bold">Restaurant: <%= @food.restaurant.name %></h5>
                <small>Price: <%= @food.price %></small>
                <p> <%= link_to 'back', root_path %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>